nav {
  position: absolute;
  top: 2em;
  right: 2em;
}

ul{
  display: flex;
  gap: 30px;
}

nav a {
  font-weight: bold;
  font-size: 1.5em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
