nav {
  position: absolute;
  top: 2em;
  right: 2em;
}

ul{
  display: flex;
  gap: 30px;
}

nav a {
  font-weight: bold;
  font-size: 1.5em;
}

.content {
  margin-top: 8em;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 8em);
  flex-direction: column;
}
