<div class="login">
  <h1 *ngIf="isLogin">Login</h1>
  <h1 *ngIf="!isLogin">Register</h1>
  <form (ngSubmit)="onSubmit()">
    <input
      type="text"
      placeholder="Username"
      required
      [(ngModel)]="username"/>
    <input
      type="password"
      placeholder="Password"
      required
      [(ngModel)]="password"/>
    <input
      *ngIf="!isLogin"
      type="password"
      placeholder="Password repeat"
      required
      [(ngModel)]="passwordRepeat"/>
    <span *ngIf="isLogin" (click)="isLogin = !isLogin">Don't have an account? Register now</span>
    <span *ngIf="!isLogin" (click)="isLogin = !isLogin">Already have an account?</span>
    <button type="submit">Login</button>
  </form>
</div>
