<h1>About</h1>
<p>
  Это проект, который я создал основываясь на задании найденном на
  <a href="https://roadmap.sh/projects/personal-blog">этом сайте</a>.
  Делаю я с целью закрепить некоторые навыки, которыми я владел только в теории,
  проверить свои текущие навыки и выкатить какой-нибудь сайт,
  чтобы освоить deploy и написание Docker-файлов.
  Для меня оригинальная задача слишком легкая задача, по этому я придумал для себя
  усложняющие критерии.<br/>
</p>
<h4>Усложняющие критерии:</h4>
<ol>
  <li>Связь через gRPC</li>
  <li>Чат, который работает в реальном времени</li>
  <li>Лайки</li>
  <li>Комментарии</li>
  <li>Возможность писать блог с аккаунта администратора</li>
  <li>Весь код должен быть покрыт авто-тестами</li>
  <li>Задеплоить это всё на хостинг</li>
  <li>Добавить поддержку двух языков</li>
</ol>
<h4>Contacts:</h4>
<div class="contacts">
  <a href="https://github.com/Star-Kuller">GitHub</a>
  <a href="https://vk.com/25starkiller25">VK</a>
  <a href="https://t.me/Stark1Iler">Telegram</a>
</div>
